<section class="fair-section section-{{name}}">
    <h2>Software Fair 2018 <strong>Guidebook</strong></h2>

    <input type="checkbox" id="collapsible-{{name}}" class="collapsible-checkbox" />
    <label class="collapsible-label" for="collapsible-{{name}}">
        <h1>{{name}}</h1>
    </label>

    <div class="fair-section-submissions">
        {{#each submissions}}
            {{>fair-submission }}
        {{/each}}
    </div>
    <div class="fair-section-footer">
        End of <strong>{{name}}</strong> projects.
    </div>
</section>
